@tailwind base;
@tailwind components;
@tailwind utilities;

.gradiente-arriba {
	background-image: linear-gradient(to top, hsl(var(--color-surface-200)) 82%, transparent 100%);
}
.gradiente-inferior {
	background-image: linear-gradient(to bottom, hsl(var(--color-surface-200)) 82%, transparent 100%);
}
.gradiente-derecha {
	background-image: linear-gradient(to right, hsl(var(--color-surface-200)) 82%, transparent 100%);
}
.gradiente-izquierda {
	background-image: linear-gradient(to left, hsl(var(--color-surface-200)) 82%, transparent 100%);
}
.inline-img {
	display: inline-block;
	position: relative;
	top: -1px;
}

::-webkit-scrollbar {
	width: 8px; /* Ancho de la barra de desplazamiento */
	height: 8px;
}

/* Estilos para el thumb (la parte que se desplaza) */
::-webkit-scrollbar-thumb {
	background-color: #9095a5; /* Color de fondo del thumb */
	border-radius: 4px; /* Bordes redondeados */
}

/* Estilos para el track (la parte que queda estática) */
::-webkit-scrollbar-track {
	background:  hsl(var(--color-neutral)); /* Color de fondo del track */
}